p:hover {
	background-color:#f774f2;
}

.angularTranslations {
	display: flex;
	justify-content: center;
	background-color:#F73CDE;
}

.angularTranslations div {
	width: 45%;
	margin: 1%;
	float:left;
}

.angularTranslations div div {
	width: 98%;
	float:left;
}

.sidebar {
	display: none;
	position: absolute;
	background-color:#AFFFFF;
}

.sidebar.sidebaropened {
	width: 95%;
	height: 50%;
	display: block;
    transform: translate(0px, 200px);
}

.sidebar div button {
	padding:8px 16px;
	width:100%;
	border: 1 px solid black;
	text-align:center;
}

.sidebar div p {
	padding:1px 2px;
	float:left;
	width:100%;
	border: 1 px solid black;
	text-align:center;
}
