<a href="https://github.com/nith822/TransSample/tree/master/src/app"> source code </a>

<div>
	<p class= "sidebarButton"(click)="sidebarOpened = true" *ngIf="!sidebarOpened">
		&#9776;
	</p> 
	<div class = "sidebar" [ngClass]="{ 'sidebaropened': sidebarOpened}">
		<div *ngIf="this.currentTranslation">
			<button> {{this.currentTranslation.getText(false)}} </button>
			<button> {{this.currentTranslation.getText(true)}} </button>
			<button 
				(click)="this.currentTranslation.upDownVote[0]=1 + this.currentTranslation.upDownVote[0]"> 
				Upvote: {{this.currentTranslation.upDownVote[0] }}
			</button>
			<button
				(click)="this.currentTranslation.upDownVote[1]=1 + this.currentTranslation.upDownVote[1]"> 
				Downvote: {{this.currentTranslation.upDownVote[1] }}
			</button>
			<p *ngFor="let comment of this.currentTranslation.comments">
				{{ comment }}
			</p>
		</div>
		<button (click)="sidebarOpened = false"><b> &times;</b></button>
	</div>
</div>


<div>
	<div class="angularTranslations">
		<div class="originalText">
			<translation *ngFor="let translation of this.translations"
				[translation]="translation"
				[displayOriginal]="true"
				(clicked)="this.translationClicked($event)"
			>
			</translation>
		</div>
		
		<div class="translatedText">
			<translation *ngFor="let translation of this.translations"
				[translation]="translation"
				[displayOriginal]="false"
				(clicked)="this.translationClicked($event)"
			>
			</translation>
		</div>
	</div>
	
	<div class="angularTranslations">
		<div class="originalText">
			<div *ngFor="let translation of this.translations">
				<translation
					[translation]="translation"
					[displayOriginal]="true"
					(clicked)="this.translationClicked($event)" >
				</translation>
			</div>
		</div>
		<div class="translatedText">
			<div *ngFor="let translation of this.translations">
				<translation
					[translation]="translation"
					[displayOriginal]="false"
					(clicked)="this.translationClicked($event)">
				</translation>
			</div>
		</div>
	</div>
</div>