<a href="https://github.com/nith822/TransSample"> source code </a>
<div>
	<div class="lineByLineTranslations">
		<div class="originalText">
			<p *ngFor="let text of this.originalTexts"
				[textContent]="text">
			</p>
		</div>
		
		<div class="translatedText">
			<p *ngFor="let translation of this.translations"
				[textContent]="translation.getText(true)">
			</p>
		</div>
	
	</div>
	
	<div class="inlineTranslations">
		<div class="originalText">
			<span *ngFor="let translation of this.translations"
				[textContent]="translation.getText(false)"
				(mouseenter)="translation.hovered = true"
				(mouseleave)="translation.hovered = false"
				[ngStyle]="{'background-color': translation.hovered? '#AFFFFF' :'#FFFFFF'}">
			</span>
		</div>
		
		<div class="translatedText">
			<span *ngFor="let translation of this.translations"
				[textContent]="translation.getText(true)"
				(mouseenter)="translation.hovered = true"
				(mouseleave)="translation.hovered = false"
				[ngStyle]="{'background-color': translation.hovered? '#AFFFFF' :'#FFFFFF'}">
			</span>
		</div>
	</div>
	
	
	<div class="angularInlineTranslations">
		<div class="originalText">
			<translation *ngFor="let translation of this.translations"
				[translation]="translation"
				[displayOriginal]="true"
			>
			</translation>
		</div>
		
		<div class="translatedText">
			<translation *ngFor="let translation of this.translations"
				[translation]="translation"
				[displayOriginal]="false"
			>
			</translation>
		</div>
	</div>