div {
	border: 1px solid black;
} 
.container {
	
	display: inline-flex;
	float: left;
}

span:hover {
	background-color:#f774f2;
}

p {
	float: left;
	border: 1px solid black;
}

.test {
		display: flex;
	float: left;
}