<div class="container">
		<p><text [textString]="'色なのよ？　想像力を喚起させて、こそばゆい詩の一つでも朗読してみせなさいよ」'" [text1]="this.text">
		</text>
		</p>
		
		<p><text [textString]="'「ま、いいんじゃないの兄さん。お伽噺の春の国。　どうせ私たちは、こんなお洋服しか持ってないわけだし」'" [text1]="this.text">
		</text>
		</p>
			<p>
				Hi my name is
			</p>
		<p>
		<text [textString]="'色なのよ？　想像力を喚起させて、こそばゆい詩の一つでも朗読してみせなさいよ」'" [text1]="this.text">
		</text>
		</p>
		
		<p>
		<text [textString]="'さすが陸上部の顧問、グラウンドから屋上まであっという間だ。'" [text1]="this.text">
		</text>
		</p>
		
	</div>
	<div> 
	<div class="test">
		<p>
		
足下を見ながら歩けば、その足跡に沿って、<text [textString]="'はらはらと靴の裏から花弁が舞い零れていくのがわかった'"></text>

「ま、いいんじゃないの兄さん。お伽噺の春の国。　どうせ私たちは、こんなお洋服しか持ってないわけだし」

色なのよ？　想像力を喚起させて、こそばゆい詩の一つでも朗読してみせなさいよ」

さすが陸上部の顧問、グラウンドから屋上まであっという間だ。
		</p>
		<p>
		Hello
		</p>
		</div>
		<div>
			<span *ngFor="let text of this.texts"
				[textContent]="text">
			</span>
		</div>
	</div>